.alipay
.classpath
.project
.settings
local.properties
.gradle/
build/
target/
.idea/
*.iml
*.cmd
gen/
*.java~
.vscode
*.json
build/android-profile/
app/build/android-profile/
*/build/android-profile/
gradle/wrapper
gradlew
gradlew.bat
client-gradle-compile.sh
wallet-gradle-compile.sh